/*.*
!/.gitignore
LICENSE
mage
modman

#Excluding everthing unless Dc module
app/*.*
app/code/core/
app/code/community/Cm/
app/code/community/Phoenix/
!app/code/community/Dc

app/design/adminhtml/default/default/etc
app/design/adminhtml/default/default/locale
app/design/adminhtml/default/default/layout/*.xml
!app/design/adminhtml/default/default/layout/dc
app/design/adminhtml/default/default/template/*
!app/design/adminhtml/default/default/template/dc
app/design/install/

app/design/frontend/default/
app/design/frontend/rwd/
app/design/frontend/base/default/template/
app/design/frontend/base/default/etc/
app/design/frontend/base/default/layout/*
!app/design/frontend/base/default/layout/dc

app/etc/*.*
app/etc/modules/*
!app/etc/modules/Dc_Dc.xml
!app/etc/modules/Dc_Regions.xml

app/locale/en_US/template/
app/locale/en_US/*.*
!app/locale/en_US/Dc_Dc.csv
!app/locale/en_US/Dc_Regions.csv
app/locale/es_AR/*.*
!app/locale/es_AR/Dc_Dc.csv
!app/locale/es_AR/Dc_Regions.csv
app/locale/es_ES/*.*
!app/locale/es_ES/Dc_Dc.csv
!app/locale/es_ES/Dc_Regions.csv

/js/*
!/js/dc

/skin/adminhtml/default/default/*
!/skin/adminhtml/default/default/dc

/skin/frontend/
/skin/install/

/dev/
/downloader/
/errors/
/includes/
/lib/
/media/
/shell/

/var/


